body {
  background-color: rgb(113, 112, 112);
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 600px;
  height: 500px;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: turquoise;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: turquoise;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.edit btn-dark {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: turquoise;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
}
.navbar-dark bg-dark {
  padding: 50px;
  margin-top: 50px;
  width: 2000px;
  height: 500;
}
